/*TODO css cannot be minified(issue with vars and calc) - sass would help */

:root {
    --main-background-color: rgb(145, 145, 145);
    --selected-background-color: #ccc;
    --dark-background-color: #666;
    --camera-image-width: 700px;
    --camera-image-height: 525px;
}

html {
    font-family: sans-serif;
    background: var(--main-background-color);
    height: 100%;
}

body {
    margin: 0 auto;
    padding-top: 3rem;
    background: var(--main-background-color);
    min-height: 100%;
}

.unselectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.anchor_button_fix {
    -webkit-appearance: none;
}


.full-width {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    color: #404040;
    margin: 1rem 0;
}

.col_flex {
    display: flex;
    flex-direction: column;
}

.row_flex {
    display: flex;
    flex-direction: row;
}

.center_flex {
    justify-content: center;
    align-items: center;
}

input[type=submit] {
    align-self: start;
    min-width: 10em;
}

.content_section {
    min-width: 100%;
    min-height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    padding: 1rem;
    height:calc(100vh - 3.5rem);
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 0.1rem solid #377ba8;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

/* --------------------------------------------cards*/
.limited_cards > .card {
    max-width: 18rem;
    min-width: 18rem;
}
