<template id="create_dialog">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                Create or update flat in database
            </div>
        </div>

        <h6>Apartment number</h6>
        <div class="input-group">
            <input type="text" class="form-control" id="apartment_number">
        </div>

        <h6>Title</h6>
        <div class="input-group">
            <input type="text" class="form-control" id="title">
        </div>

        <h6>Number of rooms</h6>
        <div class="input-group">
            <input type="text" class="form-control" id="rooms">
        </div>

        <h6>Size</h6>
        <div class="input-group">
            <input type="text" class="form-control" id="size">
        </div>

        <h6>Total area size</h6>
        <div class="input-group">
            <input type="text" class="form-control" id="total_area_size">
        </div>

        <h6>Sales price</h6>
        <div class="input-group">
            <input type="text" class="form-control" id="sales_price">
        </div>

        <h6>Floor number</h6>
        <div class="input-group">
            <input type="text" class="form-control" id="floor_number">
        </div>

        <h6>Project name</h6>
        <div class="input-group">
            <input type="text" class="form-control" id="project_name">
        </div>

        <h6>HREF</h6>
        <div class="input-group">
            <input type="text" class="form-control" id="href">
        </div>

        <h6>Image source</h6>
        <div class="input-group">
            <input type="text" class="form-control" id="img_src">
        </div>

        <h6>Status</h6>
        <div class="input-group">
            <input type="text" class="form-control" id="status">
        </div>
    </div>
</template>
